/*
 *
 * MMM-YT-SubCount
 *
 * Cedrik Hoffmann
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

#mmm-yt-subcount-root {
  padding: -1em;
  margin: -1em;
}

#mmm-yt-subcount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#mmm-yt-subcount-content {
  text-align: right;
}

#mmm-yt-subcount-container img {
  border-radius: 50%;
  transform: scale(0.8, 0.8);
}

#mmm-yt-subcount-title {
  margin-top: 0.5em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-weight: bold;
  font-size: 25px;
}

#mmm-yt-subcount-count {
  margin-top: 0.5em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-size: 23px;
}

#mmm-yt-subcount-count p {
  margin-top: 0.5em;
  padding-top: -1em;
  margin-bottom: -1em;
  padding-bottom: -1em;
  font-size: 23px;
}

#mmm-yt-subcount-views p {
  margin-top: 0.5em;
  font-size: 23px;
}
